body {
    background: rgb(187, 214, 187);
    font-family: Helvetica, Arial, sans-serif;
    text-align: center;
    list-style-position: inside;
}

/* I think I need to learn about divs and flex before I can really style this project properly. */