body {
    background: rgb(150, 150, 150);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#calc {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: stretch;
    background: #3d4543;
    border: 5px solid black;
    border-radius: 5px;
    height: 700px;
    width: 400px;
    margin: 10px 0px;
    padding: 0px;
}

#title {
    color: #f0f0f0;
    font-size: 48px;
    text-align: center;
}

#screen {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background: #bccd95;
    height: 94px;
    width: 350px;
    padding: 0px 20px;
    margin: 0px 5px;
}

#display {
    font-size: 76px;
}

#pad {
    flex: 1 1 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: stretch;
    gap: 5px;
    padding: 5px 0px;
    margin: 0px;
}

.row {
    flex: 1 1 auto;
    display: flex;
    align-items: stretch;
}

.button {
    flex: 1 1 94px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #efefef;
    font-size: 64px;
    /* border: 5px solid black; */
    border-radius: 10px;
}

.button:hover {
    background: #efefefcc;
}

#btnAC {
    font-size: 48px;
}

#btnZero {
    flex: 2 0 188px;
}